/*media*/
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: " (max-width: 768px)";

/*color*/
$redcolor: #e2494c;
$greyColor: #9c9c9c;

/*float*/
$float-left: left;
$float-right: right;